*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
windows/flutter/ephemeral/
**/.plugin_symlinks/
windows/runner/Debug/
windows/runner/Release/
windows/runner/x64/
windows/runner/x86/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
linux/flutter/generated_*
linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
web/.dart_tool/
web/generated_plugin_registrant.dart
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
android/key.properties
app.*.symbols
app.*.map.json
*.idea/crash
.flutter-plugins-dependencies

